.container {
  background-color: #dedede;
  display: grid;
  grid-template-areas: 
    "header header header  header header "
    "nav   main    main   main    aside"
    "footer footer footer footer   footer"
  ;
  grid-template-rows: 1fr 4fr 1fr;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.header {
  background-color: #89f9dc;
  grid-area: header;
}
.nav {
  background-color: #86a38e;
  grid-area: nav;
}

.aside {
  background-color: #2fa84f;
  grid-area: aside;
}

.footer {
  background-color: #8fc99f;
  grid-area: footer
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}