
.chat {
    width: 100%;
    height: 70%;
    display: flex;
    background-color: black;
    align-items: center;
  }

  .chat__main {
    background-color: orange;
    width: 100%;
    height: 100%;
  }
  
  .message__container {
    background-color: cyan;
    height: 45vh;
    padding: 5px;
    overflow-y: scroll;
  }
  
  .message__container > * {
    margin-bottom: 5px;
  }
  .chat__footer {
    padding: 5px;
    background-color: orange;
    height: 20vh;
  }
  .form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .message {
    width: 100%;
    height: 8vh;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    padding: 3px;
    overflow-wrap: break-word;
  }
  .sendBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    background-color: blue;
    padding: 10px;
    border: none;
    outline: none;
    color: #eae3d2;
    cursor: pointer;
  }
  .sendBtn:hover {
    background-color: rgb(129, 201, 129);
  }
  .message__recipient {
    background-color: #f5ccc2;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
  }
  .message__sender {
    background-color: rgb(194, 243, 194);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
  }
  .message__chats > p {
    font-size: 14px;
  }
  .sender__name {
    text-align: right;
  }
  message__status {
    position: fixed;
    bottom: 50px;
    font-size: 13px;
    font-style: italic;
  }
